<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Clone</title>
</head>
<body>
	<div class="main">
            <h1> Instagram Clone</h1>
    </div>

    <form method="post">{% csrf_token %}
        <input id="username" type="text" name="username" placeholder="Username" required><br>

        <input id="full_name" type="text" name="full_name" placeholder="Fullname" required><br>

        <input id="email" type="text" name="email" placeholder="Email"required><br>

        <input id="password" type="password" name="password" placeholder="Password" required min="8" max="20"><br>
        <input type="submit" value="Signup">
    </form>

<div class="kuch">
    Already a member? <a href="/login/">Log in</a>
</div>
<div class="kuch1"><b>Signup to see photos and videos of your friends</b></div>

<div class="eye">
    <button type="button" id="eye" onclick="if(password.type=='text')password.type='password'; else if(password.type='password')password.type='text';">
    <img src="https://cdn0.iconfinder.com/data/icons/feather/96/eye-16.png">
    </button>
</div>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
</body>
</html>